<html>
<head>
  <h1>Create Account</h1>

</head>
<h3>Sign-Up</h3>
<form action="/signup" method="post">
  <p>Username<input type="text" name="name"></p>
  <p>Password<input type="text" name="password"></p>
  <input type="submit" value="Sign-in">
</form>

</html>
