<html>
<head>
  <h3>Where would you like to go?</h3>

</head>
<form action='/choose' method='post'>
  <a href='/sales/new'>Post Sales</a>
  &nbsp
  <a href='/sales'>View Sales</a>
  <div style='float: right;'><a href="/logout">Log Out</a></div>


</form>
</html>
